@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --wheel-size: 200px;
  --dark-gradient: linear-gradient(212deg, #202022 38%, #434349 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-gradient: var(--dark-gradient);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.background-dark-gradient {
  background: var(--dark-gradient);
}
